# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
secureentry_venv/

# Environment variables or config
.env
*.env

# Flask cache
instance/
*.log

# Pytest and coverage
.cache/
.coverage
htmlcov/

# Compiled Sass/CSS
app/static/css/

# VS Code / IDEs
.vscode/
.idea/

# OS-specific
.DS_Store
Thumbs.db

# SQLite DB
*.sqlite3
*.db

# Migrations (optional if you want to regenerate them)
migrations/

# Jupyter Notebooks (optional)
.ipynb_checkpoints/

# __init__.pyc and other junk
*.egg-info/
*.bak
