# Byte-compiled / optimized / DLL files
*.py[cod]
*$py.class

# Virtual environment
secureentry_venv/

# Environment variables or config
.env
*.env

# Flask cache
*.log

# Pytest and coverage
.cache/
.coverage
htmlcov/

# VS Code / IDEs
.vscode/
.idea/

# OS-specific
.DS_Store
Thumbs.db

# SQLite DB
*.sqlite3


# Jupyter Notebooks (optional)
.ipynb_checkpoints/

# __init__.pyc and other junk
*.egg-info/
*.bak
